<h1>Password recovery</h1>
</br>
<h2>Please enter your email</h2>

<form action="/users/forgotten_pwd" method="post">
Email: <input name="email" type="text">
<input type="submit" value="Retrieve password">
</form>