<h1>Reset your password</h1>

<form action="/users/reset_password" method="post">
  <input type="hidden" name="token" value=<%=@token%> >
  New password: <input name="password" type="password">
  Confirm new password: <input name="password_confirmation" type="password">
  <input type="submit" value="Reset password">
</form> 