<h1>Reset your password</h1>

<form action="/users/reset_password" method="post">
New password: <input name="password" type="text">
Confirm new password: <input name="password_confirmation" type="text">
<input type="submit" value="Reset password">
</form>